.axis path,
.axis line,
.x-axis {
  fill: none;
  stroke:green;
  shape-rendering: crispEdges;
}
.axis,.xAxis text {
  font-family: sans-serif;
  font-size: 15px;
}

.header{
        text-align: center;
}

#description{
        text-align: center;
}

.describe{
  font-size:20px;
}

.yAxis line {
  stroke:white;
}
